*{
    margin: 0;
    padding: 0;
}

body div {
    height:100vh;
}




div#part1 {
    display:grid;
    grid-template-columns: 90% 10%;
    grid-template-rows:100px 900px ;
    grid-template-areas: 
    'hd nav' 
    'sc1 sc1'
    ; 
    height: 100vh;

}

nav {
    background-color: #342718; 

}

#navtext {
    color: whitesmoke; 
    background-color: blanchedalmond;
    height: 100%;
}

#header1 {
    background-color:   #342718;
    align-content: center; 
    
}  

#header1text {
    font-size: 70px; 
    color:  whitesmoke;
    text-align: center;
} 


#header2 { 

}

#header3 {

} 

#header4 {

}

#section1 {
    grid-area: sc1;
    background-color: #B99976; 
    align-content: center;
    justify-content: center;
    display: flex; 

} 
#section1text{
    align-self: center;
    font-size: 100px;

}
#section2 {

} 

#section3 {

} 

#aside1 {

}
 
#aside2 {

}

#aside3 {

}
 
#aside4 {

}

#aside5 {

}
 
#aside6 {

} 

#img1 {

} 

#img2 { 

} 

#img3 { 

} 

#img4 {

}

#img5 {

}

#img6 {

}

footer {

}










