*{
    margin: 0;
    padding: 0;
}

body div {
    height:100vh;
}




div#part1 {
    display:grid;
    grid-template-columns: 90% 10%;
    grid-template-rows:100px 900px ;
    grid-template-areas: 
    'hd1 nav' 
    'sc1 sc1'
    ; 
    height: 100vh;

}

nav {
    background-color: #342718; 

}

div#part2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10vh 45vh 45vh; 
    grid-template-areas:
    'hd2 hd2' 
    'img1 sc2'
    'img2 sc3'
    ; 
    height: 100vh;
}

#navtext {
    color: whitesmoke; 
    background-color: blanchedalmond;
    height: 100%; 
    text-align: center; 
    align-items: center; 
    justify-content: center; 
    display: grid;
}

#header1 {
    background-color:   #342718;
    align-content: center; 
    
}  

#header1text {
    font-size: 70px; 
    color:  whitesmoke;
    text-align: center;
} 

#header2 { 
    background-color: #342718;
    grid-area:hd2; 
    align-content: center;
} 

#header2text { 
    font-size: 60px;
    color: whitesmoke; 
    text-align: center;
}

#header3 {

} 

#header4 {

}

#section1 {
    grid-area: sc1;
    background-color: #B99976; 
    align-content: center;
    justify-content: center;
    display: flex; 

} 
#section1text{
    align-self: center;
    font-size: 100px;

}
#section2 {
    grid-area: sc2;
    background-color: #B99976; 
} 

#section3 {
    grid-area: sc3; 
    background-color: #B99976; 
} 

#aside1 {

}
 
#aside2 {

}

#aside3 {

}
 
#aside4 {

}

#aside5 {

}
 
#aside6 {

} 

#img1 {
    grid-area: img1; 
    background-color: #B99976; 
} 

#img2 { 
    grid-area: img2; 
    background-color: #B99976; 
} 

#img3 { 

} 

#img4 {

}

#img5 {

}

#img6 {

}

footer {

}










